.App {
  text-align: center;
}

.App-text{
  position:absolute;
  top: 150px;
  left: 300px;
}

.App-logo {
  position:absolute;
  top: 80px;
  left: 200px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rick{
  margin-top:40px; 
  width: 250px;
}

.morty{
  margin-top:150px;
  width: 300px;
  height: 300px;
   -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.App-div{
  display: flex;
  margin-left:200px;
  margin-top:100px;
  margin-bottom:80px;
}

.App-header {
  background-color:#F7F7F7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
